.wp-block[data-type="sortabrilliant/jumbotron"] {

	.components-disabled {
		line-height: 0;
	}

	.jumbotron-gallery {
		display: flex;
		margin: 0 0 14px 0;
		padding: 0;
	}

	.jumbotron-gallery-item {
		position: relative;
	}
}

.jumbotron-gallery-item__link {
	flex: 1 85%;
}

.jumbotron-gallery-item__movers {
	margin-left: 5px;
}

.jumbotron-gallery-item__time,
.jumbotron-gallery-item__movers {
	flex: 1;
}

.jumbotron-gallery-item__move-up,
.jumbotron-gallery-item__move-down {
	padding: 0;
}
