$grid-size-large: 16px;

.jumbotron-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;

	.jumbotron-gallery-item {
		margin: 0 16px 16px 0;
		display: flex;
		flex-grow: 1;
		width: calc((100% - #{ $grid-size-large }) / 2);

		&:nth-of-type(even) {
			margin-right: 0;
		}

		figure {
			margin: 0;
			width: 100%;
		}

		video {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&.columns-1 .jumbotron-gallery-item {
		width: 100%;
		margin-right: 0;
	}

	@media (min-width: 600px) {

		@for $i from 3 through 4 {

			&.columns-#{ $i } .jumbotron-gallery-item {
				width: calc((100% - #{ $grid-size-large } * #{ $i - 1 }) / #{ $i });
				margin-right: 16px;
			}
		}

		@for $column-count from 1 through 4 {

			&.columns-#{ $column-count } .jumbotron-gallery-item:nth-of-type(#{ $column-count }n) {
				margin-right: 0;
			}
		}
	}

	.jumbotron-gallery-item:last-child {
		margin-right: 0;
	}
}
